## `del`

In [1]:
x = 10
del x
x

NameError: name 'x' is not defined

## Assign Multiple Values

In [5]:
a,b,c = 10, 20, 30

x = y = z = 10

print(a,b,c,x,y,z)

10 20 30 10 10 10

## `input()`

In [6]:
s = input()
a = int(input())
b = float(input())

print(s, a, b)

Test
3
2.345
Test 3 2.345

## Input & assign multiple values

In [8]:
# assign two values as string
a, b = input().split()      
# assign two values as int
c, d = map(int, input().split())    
# assign two values as float
e, f = map(float, input().split())

print(a, b, c, d, e, f)

aa bb
11 22
1.1 2.22
aa bb 11 22 1.1 2.22

## `print`

In [9]:
# comma & space between values
print(1, 2, 3, sep=', ')

1, 2, 3

In [10]:
# end()
print(1, end=' ')    
print(2)

1 2

In [11]:
# \n
print('1\n2\n3')

1
2
3

etc.

In [12]:
a = complex(3, 2)
b = divmod(7, 2)
c = pow(5, 2)

print(a, b, c)

(3+2j) (3, 1) 25

### Python Operators

Operator | Name | Example 
:---|:---|:---
`//` | floor division(버림 나눗셈) | `a//b`, `5//2` -> `2`
`**` | Exponentiation | `a**b`, `2**3` -> `8`
`@` | Matrix Multiplication | `a@b`, Matrix a * matrix b

### 7.4 Exercise : Print Date and Time

In [14]:
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59
 
print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2000/10/27 11:43:59

### 7.5 Question
Complete the source code to print the entered date and time output in the form of `year-month-dayT-hour:minute:second`.

표준 입력으로 년, 월, 일, 시, 분, 초가 입력됩니다. 
소스 코드를 완성하여 입력된 날짜와 시간을 `년-월-일T시:분:초` 형식으로 출력되게 만드세요.

***ex)***

input
`1999 12 31 10 37 21`

oupt
`1999-12-31T10:37:21`

input
`2017 10 27 11 43 59`

output
`2017-10-27T11:43:59`

In [15]:
year, month, day, hour, minute, second = input().split()

print(year, month, day, sep='-', end='T')
print(hour, minute, second, sep=':')

1999 12 31 10 37 21
1999-12-31T10:37:21