여러 줄로 된 문자열

In [25]:
s1 = '''Hello, world!
This is
Python.'''
 
s2= """Hello, world!
This is
Python."""

print(s1, s2, sep='\n')

Hello, world!
This is
Python.
Hello, world!
This is
Python.

## `list`

In [ ]:
# 리스트 만들기
new_list = [val1, val2, val3]        

# 빈 리스트 만들기
new_list= []                         
new_list= list()

In [5]:
# range로 리스트 만들기
new_list = list(range(5))
print(new_list)

[0, 1, 2, 3, 4]

In [6]:
a = new_list[0]
new_list[0] = 5
print(a, new_list[0], sep=', ')

0, 5

## `range()`

In [ ]:
range(times)
range(start, stop)
range(start, stop, step)

## `tuple`

In [ ]:
new_tupel = (val1, val2, val3)
new_tupel = val1, val2, val3
new_tupel = ()
new_tupel = tuple()
new_tupel = tuple(list())
new_tupel = tuple(new_list)

In [8]:
new_tuple = tuple(range(4))
print(new_tuple)

(0, 1, 2, 3)

In [13]:
# 요소가 한 개인 tuple 만들기
new_tupel = (val1, )
new_tupel = val1,

new_tuple = 1,
print(new_tuple)

(1,)

## `slice`

In [14]:
a = list(range(1, 20, 2))
a

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

`slice(start, end, step)`

`sequence_type[start. end, step]`

In [15]:
a[1:8:2]

[3, 7, 11, 15]

객체 전체

`sequence_type[0:len(sequence_type)]`

`sequence_type[:len(sequence_type)]`

`sequence_type[:]`

`sequence_type[::]`

## `dictionaries`

`new_dict = {key1:val1, key2:val2}`

In [16]:
lux1 = dict(health=490, mana=334, melee=550, armor=18.72)
lux1

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [17]:
lux2 = dict(zip(['health', 'mana', 'melee', 'armor'], [490, 334, 550, 18.72]))    
lux2

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [18]:
lux3 = dict([('health', 490), ('mana', 334), ('melee', 550), ('armor', 18.72)])
lux3

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [19]:
lux4 = dict({'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72})     
lux4

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [21]:
print('health' in lux4)
print('attack_speed' in lux4)
print('attack_speed' not in lux4)
print('health' not in lux4)

True
False
True
False

## 10.4 연습문제: `range` 로 리스트 만들기

소스 코드를 완성하여 리스트 `[5, 3, 1, -1, -3, -5, -7, -9]`가 출력되게 만드세요. 

리스트를 만들 때는 `range`를 사용해야 합니다.

In [27]:
a = list(range(5, -10, -2))
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

## 10.5 심사문제: `range`로 리스트 만들기

표준 입력으로 정수가 입력됩니다. `range`의 시작하는 숫자는 -10, 끝나는 숫자는 10이며 입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고, 해당 튜플을 출력하는 프로그램을 만드세요(`input`에서 안내 문자열은 출력하지 않아야 합니다).

예

입력
`2`

결과
`(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)`

입력
`3`

결과
`(-10, -7, -4, -1, 2, 5, 8)`

In [28]:
a = int(input())
b = tuple(range(-10, 10, a))
print(b)

2
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

시퀀스 객체 연결하기 & 반복하기

In [31]:
a = list(range(0, 5)) + list(range(10,15))
print(a)

b = list(range(0,5,2)) * 3
print(b)

[0, 1, 2, 3, 4, 10, 11, 12, 13, 14]
[0, 2, 4, 0, 2, 4, 0, 2, 4]

## `slice`

In [33]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a = a[0:4]
a

[0, 10, 20, 30]

In [35]:
b = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
b = b[4:-1]
b

[40, 50, 60, 70, 80]

In [38]:
c = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
c = c[2:8:3]
c

[20, 50]

In [39]:
d = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
d = d[6:1:-1]
d

[60, 50, 40, 30, 20]

In [41]:
e = 'Hello, world!'
print(e[2:9])
print(e[2:])
print(e[:9:2])

llo, wo
llo, world!
Hlo o

In [45]:
f = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
f[2:5] = ['a', 'b', 'c']
print(f)

g = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
g[2:5] = ['a']
print(g)

h = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
h[2:5] = ['a', 'b', 'c', 'd', 'e']
print(h)

i = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
i[2:8:2] = ['a', 'b', 'c']
print(i)

[0, 10, 'a', 'b', 'c', 50, 60, 70, 80, 90]
[0, 10, 'a', 50, 60, 70, 80, 90]
[0, 10, 'a', 'b', 'c', 'd', 'e', 50, 60, 70, 80, 90]
[0, 10, 'a', 30, 'b', 50, 'c', 70, 80, 90]

In [47]:
j = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
del j[2:5]
print(j)

k = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
del k[2:8:2]
print(k)

[0, 10, 50, 60, 70, 80, 90]
[0, 10, 30, 50, 70, 80, 90]

## 11.6 연습문제: 최근 3년간 인구 출력하기

리스트 `year`에 연도, `population`에 서울시 인구수가 저장되어 있습니다. 소스 코드를 완성하여 최근 3년간 연도와 인구수가 리스트로 출력되게 만드세요.

In [49]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 
              10022181, 9930616, 9857426, 9838892]

print(year[-3:])
print(population[-3:])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

## 11.7 연습문제: 인덱스가 홀수인 요소 출력하기

소스 코드를 완성하여 튜플 `n`에서 인덱스가 홀수인 요소들이 출력되게 만드세요.

In [50]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2

print(n[1::2])

(75, -10, 32, -15, 76, 2)

## 11.8 심사문제: 리스트의 마지막 부분 삭제하기

표준 입력으로 숫자 또는 문자열 여러 개가 입력되어 리스트 `x`에 저장됩니다(입력되는 숫자 또는 문자열의 개수는 정해져 있지 않음). 다음 소스 코드를 완성하여 리스트 `x`의 마지막 요소 5개를 삭제한 뒤 튜플로 출력되게 만드세요.

***예***

입력
`1 2 3 4 5 6 7 8 9 10`

결과
`('1', '2', '3', '4', '5')`

입력
`oven bat pony total leak wreck curl crop space navy loss knee`

결과
`('oven', 'bat', 'pony', 'total', 'leak', 'wreck', 'curl')`

In [54]:
x = input().split()
x = tuple(x[:len(x)-5])
print(x)

1 2 3 4 5 6 7 8 9 10
('1', '2', '3', '4', '5')

## 11.9 심사문제: 문자열에서 인덱스가 홀수인 문자와 짝수인 문자 연결하기

표준 입력으로 문자열 두 개가 각 줄에 입력됩니다(문자열의 길이는 정해져 있지 않음). 첫 번째 문자열에서 인덱스가 홀수인 문자와 두 번째 문자열에서 인덱스가 짝수인 문자를 연결하여 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 연결 순서는 첫 번째 문자열, 두 번째 문자열 순입니다. 그리고 0은 짝수로 처리합니다.

***예***

입력
`python`
`python`

결과
`yhnpto`

입력
`apple`
`strawberry`

결과
`plsrwer`

In [55]:
a = input()
b = input()
print(a[1::2] + b[::2])

python
python
yhnpto

## dictionaries

### 키 이름이 중복되면?

키가 중복되면 가장 뒤에 있는 값만 사용

In [56]:
lux = {'health': 490, 'health': 800, 'mana': 334, 'melee': 550, 'armor': 18.72}
lux

{'health': 800, 'mana': 334, 'melee': 550, 'armor': 18.72}

## 12.4 연습문제: 딕셔너리에 게임 캐릭터 능력치 저장하기

소스 코드를 완성하여 게임 캐릭터의 체력(health)과 이동 속도(movement speed)가 출력되게 만드세요.

In [57]:
camille = {
    'health': 575.6,
    'health_regen': 1.7,
    'mana': 338.8,
    'mana_regen': 1.63,
    'melee': 125,
    'attack_damage': 60,
    'attack_speed': 0.625,
    'armor': 26,
    'magic_resistance': 32.1,
    'movement_speed': 340
}

print(camille['health'])
print(camille['movement_speed'])

575.6
340

## 12.5 심사문제: 딕셔너리에 게임 캐릭터 능력치 저장하기

표준 입력으로 문자열 여러 개와 숫자(실수) 여러 개가 두 줄로 입력됩니다. 입력된 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성한 뒤 딕셔너리를 출력하는 프로그램을 만드세요. input().split()의 결과를 변수 한 개에 저장하면 리스트로 저장됩니다.

***예***

입력
`health health_regen mana mana_regen`

`575.6 1.7 338.8 1.63`

결과
`{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}`

입력
`health mana melee attack_speed magic_resistance`
`573.6 308.8 600 0.625 35.7`

결과
`{'health': 573.6, 'mana': 308.8, 'melee': 600.0, 'attack_speed': 0.625, 'magic_resistance': 35.7}`

In [59]:
key = input().split()
val = map(float, input().split())
character = dict(zip(key, val))
print(character)

health health_regen mana mana_regen
575.6 1.7 338.8 1.63
{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}