## `for` with `range`

In [8]:
for i in range(10):
    print('Hello', i + 1)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [10]:
for i in range(10, 0, -1):
    print('countdown', i)

countdown 10
countdown 9
countdown 8
countdown 7
countdown 6
countdown 5
countdown 4
countdown 3
countdown 2
countdown 1

In [12]:
for i in reversed(range(10)):
    print('countdown', i)

countdown 9
countdown 8
countdown 7
countdown 6
countdown 5
countdown 4
countdown 3
countdown 2
countdown 1
countdown 0

In [13]:
for letter in reversed('Python'):
    print(letter, end=' ')

n o h t y P

## 16.5 연습문제: 리스트의 요소에 10을 곱해서 출력하기

소스 코드를 완성하여 리스트 `x`에 들어있는 각 숫자(요소)에 10을 곱한 값이 출력되게 만드세요. 모든 숫자는 공백으로 구분하여 한 줄로 출력되어야 합니다.

In [14]:
x = [49, -17, 25, 102, 8, 62, 21]

for i in x:
    print(i * 10, end=' ')

490 -170 250 1020 80 620 210

## 16.6 심사문제: 구구단 출력하기
표준 입력으로 정수가 입력됩니다. 입력된 정수의 구구단을 출력하는 프로그램을 만드세요(`input`에서 안내 문자열은 출력하지 않아야 합니다). 출력 형식은 `숫자 * 숫자 = 숫자`처럼 만들고 숫자와 `*`, `=` 사이는 공백을 한 칸 띄웁니다.

In [16]:
num = int(input())
for i in range(1,10):
    print(num, '*', i, '=', num * i)

3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

## `while`

In [18]:
i = 10
while i > 0:
    print('countdown', i)
    i -= 1

countdown 10
countdown 9
countdown 8
countdown 7
countdown 6
countdown 5
countdown 4
countdown 3
countdown 2
countdown 1

## `random`

In [1]:
import random

random.random()

0.3169055860705504

In [2]:
random.randint(1, 6)

6

In [6]:
dice = [1, 2, 3, 4, 5, 6]
random.choice(dice)

5

In [7]:
letters = 'Python'
random.choice(letters)

'o'

## 17.6 심사문제: 교통카드 잔액 출력하기

표준 입력으로 금액(정수)이 입력됩니다. 1회당 요금은 1,350원이고, 교통카드를 사용했을 때마다의 잔액을 각 줄에 출력하는 프로그램을 만드세요(`input`에서 안내 문자열은 출력하지 않아야 합니다). 단, 최초 금액은 출력하지 않아야 합니다. 그리고 잔액은 음수가 될 수 없으며 잔액이 부족하면 출력을 끝냅니다.

In [24]:
balance = int(input())

while balance >= 1350:    
    balance -= 1350
    print(balance)

10000
8650
7300
5950
4600
3250
1900
550

## `break`

In [25]:
i = 0
while True:    #infinity loop
    print(i)
    i += 1
    if i == 5:
        break   #but, the loop is stopped when i is 5

0
1
2
3
4

In [26]:
for i in range(1000000):
    print(i)
    if i == 4:
        break

0
1
2
3
4

## `continue`

In [28]:
for i in range(10):
    if i % 2 == 1:
        continue
    print(i)

0
2
4
6
8

In [46]:
i = 0 
while i < 10:    
    if i % 2 == 1:
        i += 1
        continue
    print(i)    
    i += 1

0
2
4
6
8

## 18.5 연습문제: 3으로 끝나는 숫자만 출력하기

소스 코드를 완성하여 0과 73 사이의 숫자 중 3으로 끝나는 숫자만 출력되게 만드세요.

In [44]:
i = 0
while i < 73:    
    if i % 10 != 3:
        i += 1
        continue
    print(i, end=' ')
    i += 1

3 13 23 33 43 53 63

## 18.6 심사문제: 두 수 사이의 숫자 중 3으로 끝나지 않는 숫자 출력하기

표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1-200, 두 번째 입력 값의 범위는 10-200이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 다음 소스 코드를 완성하여 첫 번째 정수와 두 번째 정수 사이의 숫자 중 3으로 끝나지 않는 숫자가 출력되게 만드세요. 정답에 코드를 작성할 때는 `while True:`에 맞춰서 들여쓰기를 해주세요.

In [43]:
start, stop = map(int, input().split())

i = start

while True:    
    if i % 10 == 3:
        i += 1
        continue    
    if i > stop:
        break
    print(i, end=' ')
    i += 1

1 20
1 2 4 5 6 7 8 9 10 11 12 14 15 16 17 18 19 20

## Printing Stars `*`

In [55]:
r = 5

In [56]:
for i in range(r):
    for j in range(r):
        print('*', end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [57]:
for i in range(r):
    for j in range(r):
        if j <= i :
            print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [58]:
for i in range(r):
    for j in range(r):
        if j == i:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

*
  *
    *
      *
        *

In [59]:
for i in range(r):
    for j in range(r - i):
        print('*', end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [60]:
for i in range(r):
    for j in range(r):
        if j < i:
            print(' ', end=' ')
        else:
            print('*', end=' ')
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [62]:
for i in range(r):
    for j in range(r):
        if r - (j + 1) > i:
            print(' ', end=' ')
        else:
            print('*', end=' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
for i in range(r):
    for j in reversed(range(r)):
        if j > i:
            print(' ', end=' ')
        else

## 19.6 심사문제: 산 모양으로 별 출력하기

표준 입력으로 삼각형의 높이가 입력됩니다. 입력된 높이만큼 산 모양으로 별을 출력하는 프로그램을 만드세요(`input`에서 안내 문자열은 출력하지 않아야 합니다).

In [63]:
n = int(input())

for i in range(n):
    for j in range(n - 1):
        if n - (j + 1) > i:
            print(' ', end=' ')
        else:
            print('*', end=' ')
    for j in range(n):
        if j <= i:
            print('*', end=' ')
    print()

5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [66]:
n = int(input())

for i in range(n):
    for j in reversed(range(n)):
        if j > i:
            print(' ', end=' ')
        else:
            print('*', end=' ')
    for j in range(n):
        if j < i:
            print('*', end=' ')
    print()

5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

## FizzBuzz

1. 1에서 100까지 출력
2. 3의 배수는 Fizz 출력
3. 5의 배수는 Buzz 출력
4. 3과 5의 공배수는 FizzBuzz 출력

In [67]:
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        i = 'FizzBuzz'
    else:
        if i % 3 == 0:
            i = 'Fizz'
        elif i % 5 == 0:
            i = 'Buzz'
    print(i, end=' ')

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz Fizz 52 53 Fizz Buzz 56 Fizz 58 59 FizzBuzz 61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz 71 Fizz 73 74 FizzBuzz 76 77 Fizz 79 Buzz Fizz 82 83 Fizz Buzz 86 Fizz 88 89 FizzBuzz 91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz

In [68]:
for i in range(1, 101):
    print('Fizz' * (i % 3 == 0) + 'Buzz' * (i % 5 == 0) or i, end=' ')

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz Fizz 52 53 Fizz Buzz 56 Fizz 58 59 FizzBuzz 61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz 71 Fizz 73 74 FizzBuzz 76 77 Fizz 79 Buzz Fizz 82 83 Fizz Buzz 86 Fizz 88 89 FizzBuzz 91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz

## 20.7 연습문제: 2과 11의 배수, 공배수 처리하기

소스 코드를 완성하여 1부터 100까지의 숫자를 출력하면서 2의 배수일 때는 '`Fizz`', 11의 배수일 때는 '`Buzz`', 2과 11의 공배수일 때는 '`FizzBuzz`'가 출력되게 만드세요.

In [70]:
for i in range(1, 101):
    if i % 2 == 0 and i % 11 == 0:
        print('FizzBuzz', end=' ')
    elif i % 2 == 0:
        print('Fizz', end=' ')
    elif i % 11 == 0:
        print('Buzz', end= ' ')
    else:
        print(i, end= ' ')

1 Fizz 3 Fizz 5 Fizz 7 Fizz 9 Fizz Buzz Fizz 13 Fizz 15 Fizz 17 Fizz 19 Fizz 21 FizzBuzz 23 Fizz 25 Fizz 27 Fizz 29 Fizz 31 Fizz Buzz Fizz 35 Fizz 37 Fizz 39 Fizz 41 Fizz 43 FizzBuzz 45 Fizz 47 Fizz 49 Fizz 51 Fizz 53 Fizz Buzz Fizz 57 Fizz 59 Fizz 61 Fizz 63 Fizz 65 FizzBuzz 67 Fizz 69 Fizz 71 Fizz 73 Fizz 75 Fizz Buzz Fizz 79 Fizz 81 Fizz 83 Fizz 85 Fizz 87 FizzBuzz 89 Fizz 91 Fizz 93 Fizz 95 Fizz 97 Fizz Buzz Fizz

In [71]:
for i in range(1, 101):
    print('Fizz' * (i % 2 == 0) + 'Buzz' * (i % 11 == 0) or i, end=' ')

1 Fizz 3 Fizz 5 Fizz 7 Fizz 9 Fizz Buzz Fizz 13 Fizz 15 Fizz 17 Fizz 19 Fizz 21 FizzBuzz 23 Fizz 25 Fizz 27 Fizz 29 Fizz 31 Fizz Buzz Fizz 35 Fizz 37 Fizz 39 Fizz 41 Fizz 43 FizzBuzz 45 Fizz 47 Fizz 49 Fizz 51 Fizz 53 Fizz Buzz Fizz 57 Fizz 59 Fizz 61 Fizz 63 Fizz 65 FizzBuzz 67 Fizz 69 Fizz 71 Fizz 73 Fizz 75 Fizz Buzz Fizz 79 Fizz 81 Fizz 83 Fizz 85 Fizz 87 FizzBuzz 89 Fizz 91 Fizz 93 Fizz 95 Fizz 97 Fizz Buzz Fizz

## 20.8 심사문제: 5와 7의 배수, 공배수 처리하기

표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1-1000, 두 번째 입력 값의 범위는 10-1000이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 첫 번째 정수부터 두 번째 정수까지 숫자를 출력하면서 5의 배수일 때는 '`Fizz`', 7의 배수일 때는 '`Buzz`', 5와 7의 공배수일 때는 '`FizzBuzz`'를 출력하는 프로그램을 만드세요(`input`에서 안내 문자열은 출력하지 않아야 합니다).

In [77]:
fNum, sNum = map(int, input().split())

for i in range(fNum, sNum + 1):
    if i % 5 == 0 and i % 7 == 0:
        print('FizzBuzz', end=' ')
    elif i % 5 == 0:
        print('Fizz', end=' ')
    elif i % 7 == 0:
        print('Buzz', end=' ')
    else:
        print(i, end=' ')

print()

for i in range(fNum, sNum + 1):
    print('Fizz' * (i % 5 == 0) + 'Buzz' * (i % 7 == 0) or i, end=' ')

35 40
FizzBuzz 36 37 38 39 Fizz
FizzBuzz 36 37 38 39 Fizz

## Tutle

In [78]:
import turtle as t

t.shape('turtle')
t.forward(100)
t.right(90)
t.backward(100)
t.left(90)

t.fd(100)
t.rt(90)
t.bk(100) # t.back(100)
t.lt(90)

In [ ]:
#사각형 그리기
import turtle as t

t.shape('turtle')
for i in range(4):
    t.forward(100)
    t.right(90)

In [ ]:
#오각형 그리기
import turtle as t

t.shape('turtle')
for i in range(5):
    t.fd(100)
    t.rt(360 / 5)

In [80]:
#다각형 그리기
import turtle as t

n = int(input())
t.shape('turtle')
for i in range(n):
    t.fd(100)
    t.rt(360 / n)

8

In [ ]:
#다각형에 색칠하기
import turtle as t

n = int(input())
t.shaple('turtle')
t.color('blue')
t.begin_fill()
for i in range(n):
    t.fd(100)
    t.rt(360 / n)
t.end_fill()

In [ ]:
#원 그리기
import turtle as t
t.shape('turtle')
t.circle(120)

In [ ]:
#원 반복해서 그리기
import turtle as t

n = 60
t.shape('turtle')
t.speed('fastest')
for i in range(n):
    t.circle(120)
    t.right(360 / n)

In [ ]:
#선으로 복잡한 무늬 그리기
import turtle as t
 
t.shape('turtle')
t.speed(0)           # == t.speed('fastest')
for i in range(300):  
    t.forward(i)        
    t.right(91)

In [ ]:
#오각형 별 그리기
import turtle as t
n = 5
t.shape('turtle')
for i in range(n):
    t.fd(100)
    t.rt((360 / n) * 2)
    t.fd(100)
    t.lt(360 / n)

In [ ]:
#다각형 별 그리기
import turtle as t
 
n, line = map(int, input().split())
t.shape('turtle')
t.speed('fastest')
for i in range(n):
    t.fd(line)
    t.rt((360 / n) * 2)
    t.fd(line)
    t.lt(360 / n)

### Turtle Method

Method | Description | Method | Description
:---|:---|:---|:---
shape('모양') | 터틀 모양 지정('arrow', 'turtle', 'circle', 'square', 'triangle', 'classic') | mainloop() | 터틀 창 유지
forward(거리), fd(거리) | 앞으로 이동 | backward(거리), bk(거리), back(거리) | 뒤로 이동
left(각도), lt(각도) | 왼쪽으로 회전 | right(각도), rt(각도) | 오른쪽으로 회전
color('색') | 팬의 색 지정 | circle(반지름) | 원 그리기
begin_fill() | 색칠할 영역 시작 | end_fill() | 색칠할 영역 끝
speed('속도') | 속도 설정 | speed() | 속도 확인