## `append`, `extend`, `insert`

In [86]:
l1 = [10, 20, 30]
l1.append([500, 600])
print(l1)
len(l1)

[10, 20, 30, [500, 600]]

4

In [87]:
l2 = [10, 20, 30]
l2.extend([500, 600])
print(l2)
len(l2)

[10, 20, 30, 500, 600]

5

In [88]:
l3 = [10, 20, 30]
c.insert(2, 500)
print(l3)
len(l3)

[10, 20, 30]

3

- **`insert(0, 요소)`**: 리스트의 맨 처음에 요소를 추가
- **`insert(len(리스트), 요소)`**: 리스트 끝에 요소를 추가

In [89]:
l4 = [10, 20, 30]
l4.insert(0, 500)
print(l4)

[500, 10, 20, 30]

In [90]:
l5 = [10, 20, 30]
e.insert(len(l5), 500)
print(l5)

[10, 20, 30]

In [91]:
l6 = [10, 20, 30]
l6[2:1] = [500, 600, 700]
print(l6)

[10, 20, 500, 600, 700, 30]

- **`pop`**: 마지막 요소 또는 특정 인덱스의 요소를 삭제
- **`remove`**: 특정 값을 찾아서 삭제

In [92]:
l7 = [10, 20, 30]
l7.pop()
print(l7)

[10, 20]

In [93]:
l8 = [10, 20, 30]
l8.pop(1)
print(l8)

[10, 30]

In [94]:
l9 = [10, 20, 30]
del l9[1]
print(l9)

[10, 30]

In [95]:
l10 = [10, 20, 30]
l10.remove(30)
print(l10)

[10, 20]

In [96]:
l11 = [10, 20, 20, 20, 30]
l11.remove(20)
print(l11)

# 리스트에 같은 값이 여러 개 있을 경우 처음 찾은 값만 삭제

[10, 20, 20, 30]

In [100]:
from collections import deque
l12 = deque([10, 20, 30])
print(l12)

deque([10, 20, 30])

In [101]:
l12.append(500)
print(l12)

deque([10, 20, 30, 500])

In [102]:
l12.popleft()
l12

deque([20, 30, 500])

In [103]:
l12.appendleft(0)
l12

deque([0, 20, 30, 500])

In [104]:
l12.pop()
l12

deque([0, 20, 30])

## `index`

In [105]:
l13 = [10, 20, 30, 15, 20, 40]
l13.index(20)

# 같은 값이 여러 개일 경우 처음 찾은 인덱스 값

1

In [106]:
l14 = [10, 20, 30, 15, 20, 40]
l14.count(20)

2

In [107]:
l15 = [10, 20, 30, 15, 20, 40]
l15.reverse()
l15

[40, 20, 15, 30, 20, 10]

In [108]:
l16 = [10, 20, 30, 15, 20, 40]
l16.sort()                  #내림차순 : sort(reverse=True) 
l16

[10, 15, 20, 20, 30, 40]

In [109]:
l17 = [10, 20, 30, 15, 20, 40]

#정렬된 새 리스트
print(sorted(l17)) 

# 원래 리스트는 그대로
print(l17)

[10, 15, 20, 20, 30, 40]
[10, 20, 30, 15, 20, 40]

## `clear()`

In [110]:
l18 = [10, 20, 30]
l18.clear()
l18

[]

In [111]:
l19 = [10, 20, 30]
del l19[:]
l19

[]

## `list` with `slice`

In [112]:
l20 = [10, 20, 30]
l20[len(l20):] = [55]
l20

[10, 20, 30, 55]

In [113]:
l21 = [10, 20, 30]
l21[len(l21):] = [55, 65]
l21

[10, 20, 30, 55, 65]

## `list`가 비어 있는지 확인

`if not len(seq):`    리스트가 비어 있으면 True

`if len(seq):`        리스트에 요소가 있으면 True

### 권장
`if not seq:`         리스트가 비어 있으면 True

`if seq:`             리스트에 내용이 있으면 True

In [43]:
seq = []

# 리스트에 요소가 있는지 확인
if seq:
    # 요소가 있을때만 마지막 요소 프린트
    print(seq[-1])

## `list` 할당 & 복사

In [114]:
l22 = [0, 0, 0, 0]
l23 = l22
print(l22 is l23)

l23[2] = 9
print(l22)
print(l23)

True
[0, 0, 9, 0]
[0, 0, 9, 0]

In [115]:
l24 = [0, 0, 0, 0]
l25 = l24.copy()
print(l24 is l25)  #다른 객체라서 False
print(l24 == l25)  #요소가 같아서 True

l25[2] = 9
print(l24)
print(l25)

False
True
[0, 0, 0, 0]
[0, 0, 9, 0]

## `enumerate`

In [116]:
l26 = [38, 21, 53, 62, 19]
for index, value in enumerate(l26):
    print(index, value)

0 38
1 21
2 53
3 62
4 19

## `min`, `max`

In [117]:
# for
l27 = [38, 21, 53, 62, 19]
smallest = l27[0]
for i in aacc:
    if i < smallest:
        smallest = i
print('The smallest:', smallest)

largest = l27[0]
for i in aacc:
    if i > largest:
        largest = i
print('The largest:', largest)

The smallest: 19
The largest: 62

In [118]:
# sort
l28 = [38, 21, 53, 62, 19]
l28.sort()
print('The smallest:', l28[0])
print('The largest:', l28[-1])

# or
# l28.sort(reverse=True)
# smallest = l28[-1]
# largest = l28[0]

The smallest: 19
The largest: 62

In [119]:
# min, max
l29 = [38, 21, 53, 62, 19]
print('The smallest:', min(l29))
print('The largest:', max(l29))

The smallest: 19
The largest: 62

## `sum`

In [120]:
# for
l30 = [10, 15, 20, 25, 30]
n = 0
for i in l30:
    n += i
print(n)

100

In [121]:
#sum
l31 = [10, 15, 20, 25, 30]
print(sum(l31))

100

## List Comprehension

In [122]:
 # 0부터 9까지 숫자를 생성하여 리스트 생성 - 성능 good
l32 = [i for i in range(10)]       
print(l32)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [123]:
# 0부터 9까지 숫자를 생성하여 리스트 생성
l33 = list(i for i in range(10))    
print(l33)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [124]:
# 0부터 9까지 숫자를 생성 & 값에 5를 더해 리스트 생성
l34 = [i + 5 for i in range(10)]  
print(l34)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [125]:
# 0~9 숫자 중 2의 배수인 숫자(짝수)로 리스트 생성
l35 = [i for i in range(10) if i % 2 == 0]
print(l35)

[0, 2, 4, 6, 8]

In [126]:
#2단부터 9단까지 구구단 리스트 생성
l36 = [i * j for i in range(2, 10) for j in range(1,10)]
print(l36)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

## `list` with `map`

In [127]:
#for
l37 = [1.2, 2.5, 3.7, 4.6]
for i in range(len(l37)):
    l37[i] = int(l37[i])
print(l37)

[1, 2, 3, 4]

In [128]:
#map
l38 = [1.2, 2.5, 3.7, 4.6]
l38 = list(map(int, l38))
print(l38)

[1, 2, 3, 4]

In [129]:
l39 = list(map(str, range(10)))
print(l39)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [130]:
l40_a, l40_b = map(int, input().split())
print(l40_a, l40_b)

12 31
12 31

## `tuple`

In [84]:
t1 = (38, 21, 53, 62, 19, 53)
t1.index(62)

3

In [85]:
t2 = (10, 20, 30, 15, 20, 40)
t2.count(20)

2

In [131]:
t3 = (38, 21, 53, 62, 19)
print('min:', min(t3))
print('max:', max(t3))
print('sum:', sum(t3))

min: 19
max: 62
sum: 193

## 22.9 연습문제: 리스트에서 특정 요소만 뽑아내기

소스 코드를 완성하여 리스트 `a`에 들어있는 문자열 중에서 길이가 5인 것들만 리스트 형태로 출력되게 만드세요(리스트 표현식 사용).

In [137]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b = [i for i in a if len(i) == 5]
print(b)

['alpha', 'bravo', 'delta', 'hotel', 'india']

## 22.10 심사문제: 2의 거듭제곱 리스트 생성하기

표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1-20, 두 번째 입력 값의 범위는 10-30이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 첫 번째 정수부터 두 번째 정수까지를 지수로 하는 2의 거듭제곱 리스트를 출력하는 프로그램을 만드세요(`input`에서 안내 문자열은 출력하지 않아야 합니다). 단, 리스트의 두 번째 요소와 뒤에서 두 번째 요소는 삭제한 뒤 출력하세요. 출력 결과는 리스트 형태라야 합니다.

In [141]:
start, stop = map(int, input().split())
output = [2**i for i in range(start, stop + 1)]
output.pop(1)
output.pop(-2)
# or
# del output[1]
# del output[-2]
print(output)

1 10
[2, 8, 16, 32, 64, 128, 256, 1024]

## Two-dimensional list

In [143]:
tdl1 = [[10, 20], [30, 40], [50, 60]]
print(tdl1[2][1])
tdl1[0][1] = 1000
print(tdl1)

60
[[10, 1000], [30, 40], [50, 60]]

In [144]:
# jaggedn list
tdl2 = [[10, 20],
       [500, 600, 700],
       [9],
       [30, 40],
       [8],
       [800, 900, 1000]]

In [145]:
tdl3 = []

tdl3.append([])
tdl3[0].append(10)
tdl3[0].append(20)

tdl3.append([])
tdl3[1].append(55)
tdl3[1].append(65)
tdl3[1].append(75)

print(tdl3)

[[10, 20], [55, 65, 75]]

In [150]:
from pprint import pprint
pprint(tdl1, indent=4, width=20)

[   [10, 1000],
    [30, 40],
    [50, 60]]

In [151]:
#for
tdl4 = [[10, 20], [30, 40], [50, 60]]
for x, y in tdl4:
    print(x,y)

10 20
30 40
50 60

In [152]:
# for & for
for i in tdl4:
    for j in i:
        print(j, end=' ')
    print()

10 20
30 40
50 60

In [153]:
#for & range
for i in range(len(tdl4)):
    for j in range(len(tdl4[i])):
        print(tdl4[i][j], end=' ')
    print()

10 20
30 40
50 60

In [155]:
# while
i = 0
while i < len(tdl4):
    x, y = tdl4[i]
    print(x, y)
    i += 1

10 20
30 40
50 60

In [156]:
# while & while
i = 0
while i < len(tdl4):
    j = 0
    while j < len(tdl4[i]):
        print(tdl4[i][j], end= ' ')
        j += 1
    print()
    i += 1

10 20
30 40
50 60

In [160]:
# making two-dimensional list with for
tdl5 = []
x = 0
for i in range(3):
    line = []    
    for j in range(2):
        line.append(x)
        x += 1
    tdl5.append(line)
print(tdl5)

[[0, 1], [2, 3], [4, 5]]

In [163]:
tdl6 = [[0 for j in range(2)] for i in range(3)]
print(tdl6)

[[0, 0], [0, 0], [0, 0]]

In [165]:
tdl7 = [[0] * 2 for i in range(3)]
print(tdl7)

[[0, 0], [0, 0], [0, 0]]

In [166]:
# making jagged list
row_num = [3, 1, 3, 2, 5]
tdl8 = []

for i in row_num:
    line = []    
    for j in range(i):
        line.append(0)
    tdl8.append(line)
print(tdl8)

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [167]:
tdl9 = [[0] * i for i in row_num]
print(tdl9)

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [168]:
# sorted in 2 dimensional list
students = [
    ['john', 'C', 19],
    ['maria', 'A', 25],
    ['andrew', 'B', 7]
]

In [169]:
# 안쪽 리스트의 인덱스 1을 기준으로 정렬
print(sorted(students, key=lambda student: student[1]))

[['maria', 'A', 25], ['andrew', 'B', 7], ['john', 'C', 19]]

In [170]:
# 안쪽 리스트의 인덱스 2를 기준으로 정렬
print(sorted(students, key=lambda student: student[2]))

[['andrew', 'B', 7], ['john', 'C', 19], ['maria', 'A', 25]]

## Two-dimensional list 할당

In [171]:
tdl10 = [[10, 20], [30, 40]]
tdl11 = tdl10
tdl11[0][0] = 500
print(tdl10)
print(tdl11)

# tdl12 = tdl11.copy() 일 때도 동일하게 둘 다 적용됨

[[500, 20], [30, 40]]
[[500, 20], [30, 40]]

## Two-dimensional list 복사

In [172]:
tdl12 = [[10, 20], [30, 40]]
import copy
tdl13 = copy.deepcopy(tdl12)
tdl13[0][0] = 500

print(tdl12)
print(tdl13)

[[10, 20], [30, 40]]
[[500, 20], [30, 40]]

### Two-dimensional tuple

In [146]:
# tuple in tuple
tdt1 = ((10, 20), (30, 40), (50, 60))

# list in tuple
tdt2 = ([10, 20], [30, 40], [50, 60])

#tuple in list
tdt3 = [(10, 20), (30, 40), (50, 60)]

## 23.6 연습문제: 3차원 리스트 만들기.

소스 코드를 완성하여 높이 2, 세로 크기 4, 가로 크기 3인 3차원 리스트를 만드세요(리스트 표현식 사용).

In [173]:
a = [[[0 for i in range(3)] for j in range(4)] for x in range(2)]
print(a)

[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]], [[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]]

In [176]:
b = [[[0] * 3 ] * 4 for i in range(2)]
print(b)

[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]], [[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]]

## 23.7 심사문제: 지뢰찾기

표준 입력으로 2차원 리스트의 가로(`col`)와 세로(`row`)가 입력되고 그 다음 줄부터 리스트의 요소로 들어갈 문자가 입력됩니다. 이때 2차원 리스트 안에서 `*` 는 지뢰이고 `.`은 지뢰가 아닙니다. 지뢰가 아닌 요소에는 인접한 지뢰의 개수를 출력하는 프로그램을 만드세요(`input`에서 안내 문자열은 출력하지 않아야 합니다).

In [199]:
col, row = map(int, input().split())

matrix = []
for i in range(row):
    matrix.append(list(input()))

for i in range(row):
    for j in range(col):
        if matrix[i][j] == '*':
            continue
        
        matrix[i][j] = 0
        # top
        if i > 0 and matrix[i - 1][j] == '*':
            matrix[i][j] += 1
        # bottom
        if i < row - 1 and matrix[i + 1][j] == '*':
            matrix[i][j] += 1
        # left
        if j > 0 and matrix[i][j - 1] == '*':
            matrix[i][j] += 1
        # right
        if j < col - 1 and matrix[i][j + 1] == '*':
            matrix[i][j] += 1
        # top-left
        if i > 0 and j > 0 and matrix[i - 1][j - 1] == '*':
            matrix[i][j] += 1
        # top-right
        if i > 0 and j < col - 1 and matrix[i - 1][j + 1] == '*':
            matrix[i][j] += 1
        #b ottom-left
        if i < row - 1 and j > 0 and matrix[i + 1][j - 1] == '*':
            matrix[i][j] += 1
        # bottom-right
        if i < row - 1 and j < col - 1and matrix[i + 1][j + 1] == '*':
            matrix[i][j] += 1

for x in matrix:
    for y in x:
        print(y, end=' ')
    print()

7 8
*..*.**
.....*.
.*....*
*.*.*.*
...**.*
....*..
.*...*.
***..*.
* 1 1 * 3 * *
2 2 2 1 3 * 4
2 * 2 2 2 4 *
* 3 * 4 * 5 *
1 2 2 * * 5 *
1 1 2 3 * 4 2
3 * 3 2 3 * 2
* * * 1 2 * 2

In [200]:
col, row = map(int, input().split())

matrix = []
for i in range(row):
    matrix.append(list(input()))
    
for i in range(row):
    for j in range(col):
        if matrix[i][j] == '*':
            continue
            
        matrix[i][j] = 0
        for x in range(i - 1, i + 2):
            for y in range(j - 1, j + 2):
                if x < 0 or y < 0 or x >= row or y >= col:
                    continue
                else:
                    if matrix[x][y] == '*':
                        matrix[i][j] += 1
for x in matrix:
    for y in x:
        print(y, end=' ')
    print()

7 8
*..*.**
.....*.
.*....*
*.*.*.*
...**.*
....*..
.*...*.
***..*.
* 1 1 * 3 * *
2 2 2 1 3 * 4
2 * 2 2 2 4 *
* 3 * 4 * 5 *
1 2 2 * * 5 *
1 1 2 3 * 4 2
3 * 3 2 3 * 2
* * * 1 2 * 2

## `replace()`, `str.maketrans()`

In [201]:
s1 = 'Hello, world!'
s1 = s1.replace('world', 'Python')
print(s1)

Hello, Python!

In [203]:
table = str.maketrans('aeiou', '12345')
'pineapple'.translate(table)

'p3n21ppl2'

## `split()`

In [204]:
'apple pear grape pineapple orange'.split()

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [205]:
'apple, pear, grape, pineapple, orange'.split(', ')

['apple', 'pear', 'grape', 'pineapple', 'orange']

## `join()`

In [206]:
' '.join(['apple', 'pear', 'grape', 'pineapple', 'orange'])

'apple pear grape pineapple orange'

In [208]:
' & '.join(['apple', 'pear', 'grape', 'pineapple', 'orange'])

'apple & pear & grape & pineapple & orange'

## `upper()`, `lower()`

In [209]:
u = 'python'.upper()
l = 'PYTHON'.lower()
print(u, l)

PYTHON python

## `lstrip()`, `rstrip()`, `strip()`

In [219]:
ls1 = '   Python   '.lstrip()
rs1 = '   Python   '.rstrip()
s1 = '   Python   '.strip()
ls1, rs1, s1

('Python   ', '   Python', 'Python')

In [213]:
ls2 = ', python.'.lstrip(',.')
rs2 = ', python.'.rstrip(',.')
s2 = ', python.'.strip(',.')
ls2, rs2, s2

(' python.', ', python', ' python')

In [214]:
# string.punctuation
import string
sp1 = ', python.'.strip(string.punctuation)
sp2 = ', python.'.strip(string.punctuation + ' ')
sp3 = ', python.'.strip(string.punctuation).strip()
sp4 = '.abc ,#@#$^'.strip(string.punctuation).strip()

sp1, sp2, sp3, sp4

(' python', 'python', 'python', 'abc')

In [215]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

## `ljust()`, `rjust()`, `center()`

In [220]:
lj1 = 'python'.ljust(10)
rj1 = 'python'.rjust(10)
c1 = 'python'.center(10)

lj1, rj1, c1

('python    ', '    python', '  python  ')

In [221]:
# length 가 odd number일 때, left +1
'python'.center(11)

'   python  '

### method chaining

In [222]:
mc1 = 'python'.rjust(10).upper()

import string
mc2 = '.abc ,#@#$^'.strip(string.punctuation).strip().ljust(10).upper()

mc1, mc2

('    PYTHON', 'ABC       ')

## `zfill()`

In [223]:
zf1 = '35'.zfill(4)
zf2 = '3.5'.zfill(6)
zf3 = 'hello'.zfill(10)

zf1, zf2, zf3

('0035', '0003.5', '00000hello')

## `find()`, `rfind()`, `index()`, `rindex()`, `count()`

In [224]:
f1 = 'apple pineapple'.find('pl')
f2 = 'apple pineapple'.find('xy')
f1, f2

(2, -1)

In [225]:
rf1 = 'apple pineapple'.rfind('pl')
rf2 = 'apple pineapple'.rfind('xy')
rf1, rf2

(12, -1)

In [226]:
i1 = 'apple pineapple'.index('pl')

ri1 = 'apple pineapple'.rindex('pl')

c1 = 'apple pineapple'.count('pl')

i1, ri1, c1

(2, 12, 2)

## format specifier 1

In [228]:
# '%s' % '문자열'
fs1 = 'I am %s.' % 'James'

name = 'Maria'
fs2 = 'I am %s.' % name

fs1, fs2

('I am James.', 'I am Maria.')

In [229]:
# '%d' % 숫자 (%d : decimal integer)
fs3 = 'I am %d years old.' % 20
fs3

'I am 20 years old.'

In [230]:
# '%f' % 숫자
fs4 = '%f' % 2.3

# '%.자릿수f' % 숫자
fs5 = '%.2f' % 2.3
fs6 = '%.3f' % 2.3

fs4, fs5, fs6

('2.300000', '2.30', '2.300')

In [231]:
# '%길이s' % '문자열'
fs7 = '%10s' % 'python'
fs7

'    python'

In [234]:
# '%길이d' % 숫자
fs8 = '%10d' % 150
fs9 = '%10d' % 15000

# '%길이.자릿수f' % 숫자
fs10 = '%10.2f' % 2.3
fs11 ='%10.2f' % 2000.3

fs8, fs9, fs10, fs11

('       150', '     15000', '      2.30', '   2000.30')

In [235]:
# 왼쪽 정렬 : %-길이s
fs12 = '%-10s' % 'python'

# 값 여러 개 넣기 : '%d %s' % (숫자, '문자열')
fs13 = 'Today is %d %s.' % (3, 'April')

fs12, fs13

('python    ', 'Today is 3 April.')

## format specifier 2

In [236]:
# '{index}'.format(value)
fs14 = 'Hello, {0}'.format('world!')
fs15 = 'Hello, {0}'.format(100)
fs14, fs15

('Hello, world!', 'Hello, 100')

In [5]:
# 여러 개
fs16 = 'Hello, {0} {2} {1}'.format('Python', 'Script', 3.6)

# 같은 값
fs17 = '{0} {0} {1} {1}'.format('Python', 'Script')

# 인덱스 생략
fs18 = 'Hello, {} {} {}'.format('Python', 'Script', 3.6)

# 인덱스 대신 이름으로
fs19 = 'Hello, {language} {version}'.format(language='Python', version=3.6)

program = {'language': 'Python', 'version': 3.6}
fs19_1 = 'Hello, {language} {version}'.format(**program)

fs16, fs17, fs18, fs19, fs19_1

('Hello, Python 3.6 Script',
 'Python Python Script Script',
 'Hello, Python Script 3.6',
 'Hello, Python 3.6',
 'Hello, Python 3.6')

In [12]:
complex_num = 3-5j
('The complex number {0} is formed from the real part {0.real}' 
 ' and the imaginary part {0.imag}.').format(complex_num)

'The complex number (3-5j) is formed from the real part 3.0 and the imaginary part -5.0.'

In [14]:
class Point:
    def __init__(self, x, y):
        self.x, self.y = x, y
    def __str__(self):
        return 'Point({self.x}, {self.y})'.format(self=self)
str(Point(4, 2))

'Point(4, 2)'

In [15]:
coord = (3, 5)
'X: {0[0]};  Y: {0[1]}'.format(coord)

'X: 3;  Y: 5'

In [16]:
'{:+f}; {:+f}'.format(3.14, -3.14)

'+3.140000; -3.140000'

In [17]:
# show a space for positive numbers
'{: f}; {: f}'.format(3.14, -3.14)

' 3.140000; -3.140000'

In [19]:
# no space for positive numbers
'{:f}; {:f}'.format(3.14, -3.14)

'3.140000; -3.140000'

In [18]:
'{:-f}; {:-f}'.format(3.14, -3.14)

'3.140000; -3.140000'

In [20]:
"int: {0:d};  hex: {0:x};  oct: {0:o};  bin: {0:b}".format(42)

'int: 42;  hex: 2a;  oct: 52;  bin: 101010'

In [21]:
# with 0x, 0o, or 0b as prefix:
"int: {0:d};  hex: {0:#x};  oct: {0:#o};  bin: {0:#b}".format(42)

'int: 42;  hex: 0x2a;  oct: 0o52;  bin: 0b101010'

In [238]:
# { } 자체를 출력
fs20 = '{{ {0} }}'.format('Python')

# '{인덱스:<길이}'.format(값)
fs21 = '{0:<10}'.format('python')

#'{인덱스:>길이}'.format(값)
fs22 = '{0:>10}'.format('python')
fs23 = '{:>10}'.format('python')

fs20, fs21, fs22, fs23

('{ Python }', 'python    ', '    python', '    python')

In [22]:
points = 19
total = 22
'Correct answers: {:.2%}'.format(points/total)

'Correct answers: 86.36%'

In [29]:
import datetime
d = datetime.datetime(2021, 6, 4, 12, 15, 58)
'{:%Y-%m-%d %H:%M:%S}'.format(d)

'2021-06-04 12:15:58'

In [241]:
# 개수 맞추기 : '%0개수d' % 숫자 / '{인덱스:0개수d'}'.format(숫자)
fs24 = '%03d' % 1

fs25 = '{0:03d}'.format(35)

# 개수 맞추기 : '%0개수.자릿수f' % 숫자 / '{인덱스:0개수.자릿수f'}.format(숫자)
fs26 = '%08.2f' % 3.6

fs27 = '{0:08.2f}'.format(150.37)

fs24, fs25, fs26, fs27

('001', '035', '00003.60', '00150.37')

In [242]:
language = 'Python'
version = 3.6
f'Hello, {language} {version}'

'Hello, Python 3.6'

## 채우기와 정렬 조합

In [246]:
# 길이 10, 왼쪽으로 정렬하고 남는 공간은 0으로 채움
'{0:0<10}'.format(15)

'1500000000'

In [247]:
# 길이 10, 오른쪽으로 정렬하고 남는 공간은 0으로 채움
'{0:0>10}'.format(15)

'0000000015'

In [248]:
# 길이 10, 오른쪽으로 정렬하고 소수점 자릿수는 2자리
'{0:0>10.2f}'.format(15)

'0000015.00'

In [249]:
# 남는 공간을 공백으로 채움
'{0: >10}'.format(15)
#or '{0:>10}'.format(15)

'        15'

In [250]:
# 남는 공간을 문자 x로 채움
'{0:x>15}'.format(15)

'xxxxxxxxxxxxx15'

In [30]:
'{:^30}'.format('centered')

'           centered           '

In [31]:
'{:*^30}'.format('centered')

'***********centered***********'

In [33]:
for align, text in zip('<^>', ['left', 'center', 'right']):
    print('{0:{fill}{align}16}'.format(text, fill=align, align=align))

left<<<<<<<<<<<<
^^^^^center^^^^^
>>>>>>>>>>>right

In [34]:
from string import Template

s = Template('$who likes $what')
s.substitute(who='James', what='ice cream')

'James likes ice cream'

In [45]:
d = dict(who='Jason', whom='Mike')
Template('Hey $who, please send $whom an email').substitute(d)

'Hey Jason, please send Mike an email'

## 천단위 콤마 넣기

In [251]:
# format(숫자, ',')
format(1493500, ',')

'1,493,500'

In [253]:
'{0:,}'.format(1493500)

'1,493,500'

In [252]:
# 길이 20, 오른쪽으로 정렬
'%20s' % format(1493500, ',')

'           1,493,500'

In [254]:
'{0:>20,}'.format(1493500)

'           1,493,500'

In [255]:
# 길이 20, 오른쪽으로 정렬하고 남는 공간은 0으로 채움
'{0:0>20,}'.format(1493500)

'000000000001,493,500'

## 24.4 연습문제: 파일 경로에서 파일명만 가져오기

소스 코드를 완성하여 파일 경로에서 파일명만 출력되게 만드세요. 단, 경로에서 폴더의 깊이가 달라지더라도 파일명만 출력할 수 있어야 합니다.

In [256]:
path = 'C:\\Users\\dojang\\AppData\\Local\\Programs\\Python\\Python36-32\\python.exe'

x = path.split('\\')
filename = x[-1]
print(filename)

python.exe

In [257]:
y = path.split('\\')
y.reverse()
filename = y[0]
print(filename)

python.exe

In [258]:
filename = path[path.rfind('\\') + 1:]
print(filename)

python.exe

## 24.5 심사문제: 특정 단어 개수 세기

표준 입력으로 문자열이 입력됩니다. 입력된 문자열에서 '`the`'의 개수를 출력하는 프로그램을 만드세요(`input`에서 안내 문자열은 출력하지 않아야 합니다). 단, 모든 문자가 소문자인 '`the`'만 찾으면 되며 '`them`', '`there`', '`their`' 등은 포함하지 않아야 합니다.

In [269]:
import string
words = input().split()
count = 0
for word in words:
    if word.strip(string.punctuation).strip() == 'the':
        count += 1
print(count)

the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the.
6

In [270]:
import string
words = input().split()
new_word_list = []
for word in words:
    new_word = word.strip(string.punctuation).strip()
    new_word_list.append(new_word)
print(new_word_list.count('the'))

the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the.
6

In [271]:
words = input().split()
count = 0
for word in words:
    if word.strip(',.') == 'the':
        count += 1
print(count)

the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the.
6

## 24.6 심사문제: 높은 가격순으로 출력하기

표준 입력으로 물품 가격 여러 개가 문자열 한 줄로 입력되고, 각 가격은 `;`(세미콜론)으로 구분되어 있습니다. 입력된 가격을 높은 가격순으로 출력하는 프로그램을 만드세요(`input`에서 안내 문자열은 출력하지 않아야 합니다). 이때 가격은 길이를 9로 만든 뒤 오른쪽으로 정렬하고 천단위로 `,`(콤마)를 넣으세요.

In [279]:
prices = list(map(int, input().split(';')))
prices.sort(reverse=True)
for price in prices:
    print('{0:>9,}'.format(price))
#    print('%9s' % format(p, ','))

51900;83000;158000;367500;250000;59200;128500;1304000
1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

## Summary

### 반목문과 들여쓰기

Method | Descriptioin
:---|:---
`append(val)` | 리스트 끝에 값을 추가, `list[len(list):] = [val]`과 같음
`append(list)` | 리스트를 넣으면 리스트 안에 리스트가 들어감
`extend(list)` | 리스트 끝에 다른 리스트 연결, `list[len(list)] = [val, val]`과 같음
`insert(index, val)` | 리스트의 특정 인덱스에 값을 추가
`pop()` | 리스트의 마지막 값을 삭제한 뒤 삭제한 값을 반환
`pop(index)` | 인덱스를 지정하면 해당 인덱스의 값을 삭제한 뒤 삭제한 값을 반환, `del list[index]`와 같음
`remove(val)` | 리스트에서 특정 값을 삭제
`index(val)` | 리스트에서 특정 값의 인덱스를 구함
`count(val)` | 리스트에서 특정 값의 개수를 구함
`reverse()` | 리스트에서 값의 순서를 반대로 뒤집음
`sort()`| 리스트의 값을 작은 순서대로 정렬(오름차순)
`sort(reverse=True)` | `reverse=True`는 큰 순서대로 정렬(내림차순)
`clear()` | 리스트의 모든 값을 삭제, `del a[:]`와 같음
`copy()` | 리스트를 복사하여 새 리스트 생성

### 문자열 Method

Method | Description
:---|:---
`replace('string', 'new string')` | 문자열 안의 문자열을 다른 문자열로 바꿈
`translate(table)` | 문자열 안의 문자를 다른 문자로 바꿈, `str.maketrans('string', 'new string')`로 변환 테이블을 만들어야 함
`split()` | 공백을 기준으로 문자열을 분리하여 리스트로 만듦
`split('기준문자열')` | 기준 문자열을 지정하면 기준 문자열로 문자열을 분리
`join(list)` | 구분자 문자열과 문자열 list(tuple)의 요소를 연결하여 문자열로 만듦
`upper()`, `lower()` | `upper`는 문자열의 문자를 대문자로 바꾸고, `lower`는 소문자로 바꿈
`lstrip()`, `rstrip()`, `strip()`, `lstrip('삭제할문자들')`, `rstrip('삭제할문자들')`, `strip('삭제할문자들')` | `lstrip`은 문자열에서 왼쪽 공백을 삭제, `rstrip`은 오른쪽 공백을 삭제, `strip`은 양쪽 공백을 삭제, 삭제할 문자들을 지정하면 해당 문자들을 삭제
`ljust(length)`, `rjust(length)`, `center(length)` | 문자열을 지정된 길이로 만든 뒤 왼쪽(`ljust`), 오른쪽(`rjust`), 가운데(`center`)로 정렬하며 남는 공간은 공백으로 채움
`zfill()` | 지정된 길이에 맞춰서 문자열의 왼쪽에 `0`을 채움
`find('찾을문자열')`, `rfind('찾을문자열')` | `find`는 왼쪽에서부터, `rfind`는 오른쪽에서부터 특정 문자열을 찾아서 인덱스 반환, 문자열이 없으면 `-1`을 반환
`index('찾을문자열')`, `rindex('찾을문자열')` | `index`는 왼쪽에서부터, `rindex`는 오른쪽에서부터 특정 문자열을 찾아서 인덱스를 반환, 문자열이 없으면 에러 발생
`count('문자열')` | 현재 문자열에서 특정 문자열이 몇 번 나오는지 알아냄

### 서식 지정자 자료형

Type | Description
:---|:---
`s` | 문자열
`b` | 2진수
`c` | 문자
`d` | 10진 정수
`o` | 8진 정수, 예) `'%o' % 8`은 '`10`'
`x` | 16진 정수, 0~9, a~f, 예) `'%x' % 254`는 '`fe`'
`X` | 16진 정수, 0~9, A~F, 예) `'%X' % 254`는 '`FE`'
`e` | 실수 지수 표기법, 예) `'%e' % 2.3`은 '`2.300000e+00`'
`E` | 실수 지수 표기법, 예) `'%E' % 2.3`은 '`2.300000E+00`'
`f` | 실수 소수점 표기
`F` | 실수 소수점 표기, `f`와 같음, `nan`은 `NAN`, `inf`는 `INF`로 표시(`nan`은 숫자가 아니라는 뜻, `inf`는 무한대)
`g` | 실수 일반 형식, 예) `'%g' % 2.3e-10`은 '`2.3e-10`'
`G` | 실수 일반 형식, 예) `'%G' % 2.3e-10`은 '`2.3E-10`'
`%` | `%` 문자 표시