변수 삭제

In [1]:
x = 10
del x
x

NameError: name 'x' is not defined

변수 여러 개 만들기

In [5]:
a,b,c = 10, 20, 30

x = y = z = 10

print(a,b,c,x,y,z)

10 20 30 10 10 10

입력 값 저장

In [6]:
s = input()
a = int(input())
b = float(input())

print(s, a, b)

Test
3
2.345
Test 3 2.345

한 번에 여러 개 입력 및 저장

In [8]:
# 값 두 개를 입력받아 변수 두 개에 문자열로 저장
a, b = input().split()      
# 값 두 개를 입력받아 변수 두 개에 정수로 저장
c, d = map(int, input().split())    
# 값 두 개를 입력받아 변수 두 개에 실수로 저장
e, f = map(float, input().split())

print(a, b, c, d, e, f)

aa bb
11 22
1.1 2.22
aa bb 11 22 1.1 2.22

`print` 함수 출력 방식 제어

In [9]:
# 값 사이에 ,와 공백 출력
print(1, 2, 3, sep=', ')

1, 2, 3

In [10]:
# print 함수의 end에 문자(문자열)를 지정하면
# 출력하는 값 끝에 해당 문자(문자열)을 넣음
print(1, end=' ')    
print(2)

1 2

In [11]:
# 문자열에서 제어 문자 \n을 사용하면 다음 줄로 넘어감
print('1\n2\n3')

1
2
3

etc.

In [12]:
a = complex(3, 2)
b = divmod(7, 2)
c = pow(5, 2)

print(a, b, c)

(3+2j) (3, 1) 25

파이선 연산자

연산자 | 기능 | 문법 | 설명
:---|:---|:---|:---
// | 버림 나눗셈(floor division) | a//b | 5//2 -> 2 소수점 이하 버림
** | 거듭제곱 | a**b | 2**3 -> 8
@ | 행렬곱셈 | a@b | 행렬 a와 b를 곱함

### 7.4 연습문제 : 날짜와 시간 출력하기

날짜와 시간이 결과와 같게 출력되게 만드세요.

실행결과

`2000/10/27 11:43:59`

In [14]:
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59
 
print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2000/10/27 11:43:59

### 7.5 심사문제
표준 입력으로 년, 월, 일, 시, 분, 초가 입력됩니다. 
소스 코드를 완성하여 입력된 날짜와 시간을 년-월-일T시:분:초 형식으로 출력되게 만드세요.

예

입력
`1999 12 31 10 37 21`

결과
`1999-12-31T10:37:21`

입력
`2017 10 27 11 43 59`

결과
`2017-10-27T11:43:59`

In [15]:
year, month, day, hour, minute, second = input().split()

print(year, month, day, sep='-', end='T')
print(hour, minute, second, sep=':')

1999 12 31 10 37 21
1999-12-31T10:37:21